@use '../utils';
@use '../vars' as *;

.featured {
  .summary {
    color: $grey-1;
    font-size: 1.2rem;
    margin: 0 0.8rem 3rem 0.8rem;

    @media (min-width: $extra-small) {
      width: 55ch;
    }
  }

  &__work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @media (min-width: $extra-small) {
      flex-wrap: nowrap;
    }

    .work__filters {
      width: 95%;
      @media (min-width: $extra-small) {
        width: 300px;
        margin-right: 2rem;
        flex-grow: 1;
        flex-shrink: 0;
      }
      font-weight: bold;
      color: $grey-1;

      ol {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        margin: 4em 0;

        > li {
          text-transform: uppercase;
          padding: 0.8em 0;
          border-radius: 25px;

          &:first-child {
            background: linear-gradient(
              270deg,
              $pricing-card1 0%,
              $pricing-card2 100%
            );
            color: $lightgrey-bg;
          }
        }
      }
    }
  }
}
