@use '../utils';
@use '../vars' as *;

.featured {
  &__work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    @media (min-width: $extra-small) {
      flex-wrap: nowrap;
    }
  }
  &__filters {
    flex-grow: 1;
    @media (min-width: $extra-small) {
      flex: 0 0 25%;
    }

    font-weight: bold;
    color: $grey-1;
    text-align: center;

    ol {
      list-style-type: none;
      display: flex;
      flex-direction: column;

      > li {
        text-transform: uppercase;
        padding: 0.8em 0;
        border-radius: 25px;

        &:first-child {
          background: linear-gradient(
            270deg,
            $pricing-card1 0%,
            $pricing-card2 100%
          );
          color: $lightgrey-bg;
        }
      }
    }
  }

  &__image-grid {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $extra-small) {
      flex: 0 0 75%;
    }
  }

  &__image {
    @media (min-width: $extra-small) {
      flex: 0 1 (100% / 3);

      img {
        display: block;
        width: 100%;
      }
    }
  }
}
