@use '../utils' as *;
@use '../vars' as *;

.footer {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 100px 0 100px;

  a:hover {
    color: blue;
  }
  a:visited {
    color: white;
  }
  p:last-child {
    padding-top: 30px;
  }
}

.social {
  padding: 60px 0 20px;

  a{
    list-style-type: none;
    margin: 0 5px;
  }
}
.support{
  display: flex;
  flex-direction: column;
  align-items:center;
  font-weight: 600;
    a:hover {
    color: #007bff;
  }
  a{
    margin:9px 0 0 0;
  }
   a:link {
    color: white;
  }
}
.footer_designed {
  p{
  padding-top: 30px;
}
  a:visited{
    color: #007bff;
  }
  a:hover{
    color: #0054ad;
  }
  a:link{
    color: #007bff;
  }
}
