@use '../vars' as *;
@use '../utils' as *;

.message {
  @include flex;
  flex-direction: column;
  text-align: left;
  padding: 100px 0;
  width: 100%;
  h2 {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 300;
    .lni {
      padding-right: 10px;
    }
  }
  &__name-mail {
    @include flex;
    flex-direction: column;
    @media only screen and (min-width: $extra-small) {
      flex-direction: row;
      justify-content: space-between;
      input {
        width: 34vw;
      }
      input:nth-of-type(1) {
        padding-right: 50px;
      }
    }
  }
  &__div {
    @include flex;
    flex-direction: column;
    padding: 10px 0;
    position: relative;
    .form-label {
      font-size: 0.6rem;
      padding-bottom: 5px;
      color: rgba($color: #000000, $alpha: 0.5);
    }
    input,
    textarea {
      padding: 10px;
      font-family: 'Poppins', sans-serif;
    }
    .lni {
      left: auto;
      right: 14px;
      top: 41px;
      position: absolute;
      color: #6c6c6c;
    }
  }
  button {
    padding: 12px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: white;
    background-color: $crafted-bg;
    margin-top: 20px;
    border: 2px solid #0067f4;
    &:hover {
      color: #0067f4;
      background-color: transparent;
    }
    a {
      color: $crafted-bg;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }
}
