.contact {
    form {
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
        
        
    }
}
.form-control {
    width: 100%;
}