@use '../vars' as *;
@use '../utils' as *;

header {
  background-color: $crafted-bg;
  @include flex;
  align-items: center;
  .crafted__arrow {
    color: white;
    background-color: inherit;
    border: 1px solid rgba($color: white, $alpha: 0.2);
    border-radius: 5px;
    padding: 5px;
    font-size: 1.5rem;
  }
  .crafted__left-arrow {
    margin-left: 40px;
  }
  .crafted__right-arrow {
    margin-right: 40px;
  }
}

.navbar {
  @include flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  ul {
    list-style-type: none;
    @include flex;
  }
  .lni-menu {
    font-size: 1.5rem;
    color: white;
  }
  img {
    width: 60px;
    &:hover {
      cursor: pointer;
    }
  }
  button {
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    border: 2px solid white;
    a {
      color: $crafted-bg;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
    &:hover {
      background-color: $crafted-bg;
      a {
        color: white;
      }
    }
  }

  .navbar__links {
    @include flex;
    li a {
      padding: 0 15px;
      color: white;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8rem;
    }
  }
}

.crafted {
  color: white;
  padding: 80px 0;
  @include flex;
  align-items: center;
  h1:nth-of-type(1) {
    font-size: 4rem;
  }
  h1:nth-of-type(2) {
    font-size: 2rem;
    padding: 0 80px 30px 0;
  }
  p {
    padding: 0 30px 30px 0;
  }
  img {
    width: 500px;
  }
}

.crafted__buttons {
  padding: 20px 0;

  button {
    border-radius: 30px;
    padding: 12px;
    text-transform: uppercase;
    border: 2px solid white;
    font-weight: 700;
  }

  .crafted__get-started {
    background-color: white;
    color: $crafted-bg;
    margin-right: 5px;
    @media (min-width: $extra-small) {
      margin-right: 15px;
    }
  }
  .crafted__get-started:hover {
    background-color: $crafted-bg;
    color: white;
  }
  .crafted__download {
    background-color: inherit;
    color: white;
  }
  .crafted__download:hover {
    background-color: white;
    color: $crafted-bg;
  }
}

// Small Screen

@media only screen and (max-width: $extra-small) {
  .navbar-crafted {
    width: 90%;
    margin: auto;
  }
  .navbar a,
  .navbar button,
  .crafted h1:nth-of-type(1),
  .crafted img,
  .crafted__arrow {
    display: none;
  }
}

// Large Screen
@media only screen and (min-width: $extra-small) {
  .crafted {
    padding: 40px 0 0px 0;
    p {
      padding: 20px 80px 20px 0;
    }
    img {
      position: relative;
      overflow: hidden;
      transform: skew(340deg);
    }
    .bg-gradient {
      background: #0662e4;
      background: linear-gradient(
        180deg,
        rgba(0, 108, 237, 0.4) 0%,
        rgba(65, 167, 236, 0.4) 100%
      );
      transform: skew(20deg);
    }
    &__get-started {
      margin-right: 15px;
    }
  }
  .navbar-crafted {
    width: 70%;
    margin: auto;
  }
  .navbar .lni-menu,
  .crafted h1:nth-of-type(2) {
    display: none;
  }
}
