@use '../utils' as *;
@use '../vars' as *;

.pricing__cards {
  color: white;
  width: 100%;
  @include flex;
  flex-direction: column;
  @media (min-width: $extra-small) {
    flex-direction: row;
    justify-content: center;
  }
  .pricing__ {
    &card {
      margin-top: 30px;
      padding: 2em 0;
      text-align: center;
      border-radius: 5px;
      background: $pricing-card1;
      background: linear-gradient(
        180deg,
        $pricing-card1 0%,
        $pricing-card2 100%
      );
      @media (min-width: $extra-small) {
        margin: 0px 8px;
        width: 33.33%;
      }
      .price {
        font-size: 2rem;
      }
    }
    &card-info {
      text-align: left;
      font-size: 0.7rem;
      p {
        padding: 15px 40px 0 40px;
      }
    }
  }
  img {
    width: 200px;
  }
  button {
    margin-top: 30px;
    border-radius: 30px;
    padding: 12px;
    text-transform: uppercase;
    border: 2px solid white;
    font-weight: 700;
    background-color: white;
    color: $crafted-bg;
    margin-right: 5px;
  }
}
