@use '../vars' as *;
@use '../utils' as *;

.clients {
  background-color: $lightgrey-bg;
  text-align: left;
  padding: 100px 15px;
  h3 {
    color: $crafted-bg;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem;
  }
  h2 {
    padding-right: 100px;
  }

  &__arrows {
    display: none;
  }
  &__testimonials {
    padding-bottom: 80px;
    .lni-line-dashed {
      color: #d4e1f0;
      font-size: 3rem;
    }
  }
}

.clients__card {
  @include flex;
  flex-direction: column;
  background-color: white;
  border-radius: 50px;
  padding: 40px 30px;
  // margin: 50px 0 0 0;
  box-shadow: 0px -40px 0px 0px #e8ecef;

  hr {
    border: 1px solid $lightgrey-bg;
    margin: 30px 0 50px 0;
  }
  &-bottom {
    @include flex;
    // padding: 80px 0 0 0;
    img {
      border-radius: 50%;
      height: 70px;
    }
    &-right {
      padding-left: 30px;
      .clients__card-stars {
        .lni-star-filled {
          font-size: 1rem;
          color: #ffb400;
        }
        padding-top: 30px;
      }
      p:nth-of-type(2) {
        font-size: 0.8rem;
        color: lightgray;
      }
      p:nth-of-type(3) {
        font-size: 0.8rem;
      }
    }
  }
}

.clients__bg {
  .lni-quotation {
    transform: rotate(180deg);
    color: #d4e1f0;
    font-size: 10rem;
    // position: absolute;
    // z-index: -100;
  }
}

@media only screen and (min-width: $extra-small) {
  .clients {
    @include flex;
  }
}
