@use 'vars' as *;

@mixin flex {
  display: flex;
}

.container {
  padding-right: $padding-x / 4;
  padding-left: $padding-x / 4;

  @media (min-width: $extra-small) {
    padding-right: $padding-x;
    padding-left: $padding-x;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
