// colors
$crafted-bg: #0267f4;
$lightgrey-bg: #f2f6f7;
$pricing-card1: #2cd7dd;
$pricing-card2: #0368f4;

// breakpoints
$extra-small: 576px;

// dimensions
$padding-x: 5vw;

// fonts
$font: LineIcons;

@font-face {
  font-family: 'LineIcons';
  src: url('/assets/fonts/LineIcons.eot') format('eot'); // IE9 Compat Mode
  src: url('/assets/fonts/LineIcons.ttf') format('ttf'),
    url('/assets/fonts/LineIcons.woff') format('woff'),
    url('/assets/fonts/LineIcons.woff2') format('woff2'),
    url('/assets/fonts/LineIcons.svg') format('svg'); // legacy iOS
  font-style: normal;
}
