@use 'utils' as *;
@use 'variables/breakpoints' as *;
@use 'variables/colors' as *;

.pricing {
  text-align: center;
  background-color: $lightgrey-bg;
  @include flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  margin: 100px 0;
  .pricing__intro {
    padding: 0 20px 60px 20px;
  }
  .pricing__cards {
    color: white;
    width: 90%;
    @include flex;
    flex-direction: column;
    .pricing__card {
      border-radius: 5px;
      background: $pricing-card1;
      background: linear-gradient(
        180deg,
        rgba(44, 215, 221, 1) 0%,
        rgba(3, 104, 244, 1) 100%
      );
      padding: 40px 0;
    }
    img {
      width: 200px;
    }
  }
}
