@use 'reset';
@use 'vars' as *;
@use 'sections/featured';
@use 'sections/navbar-crafted';
@use 'sections/pricing';
@use 'utils';

body {
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 2rem;
  padding-bottom: 20px;
}

main > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  text-align: center;

  &:nth-child(odd) {
    background-color: $lightgrey-bg;
  }
}
