a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "LineIcons";
  src: url("/assets/fonts/LineIcons.eot") format("eot");
  src: url("/assets/fonts/LineIcons.ttf") format("ttf"), url("/assets/fonts/LineIcons.woff") format("woff"), url("/assets/fonts/LineIcons.woff2") format("woff2"), url("/assets/fonts/LineIcons.svg") format("svg");
  font-style: normal;
}
.container {
  margin: auto;
}
@media only screen and (min-width: 576px) {
  .container {
    width: 85%;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #0267f4;
  display: flex;
  align-items: center;
}
header .crafted__arrow {
  color: white;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
}
header .crafted__left-arrow {
  margin-left: 40px;
}
header .crafted__right-arrow {
  margin-right: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar .lni-menu {
  font-size: 1.5rem;
  color: white;
}
.navbar img {
  width: 60px;
}
.navbar button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}
.navbar button a {
  color: #0267f4;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.navbar .navbar__links {
  display: flex;
}
.navbar .navbar__links li a {
  padding: 0 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

.crafted {
  color: white;
  padding: 80px 0;
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  .crafted {
    padding: 40px 0 10px 0;
  }
}
.crafted h1:nth-of-type(1) {
  font-size: 4rem;
}
.crafted h1:nth-of-type(2) {
  font-size: 2rem;
  padding: 0 80px 30px 0;
}
.crafted p {
  padding: 0 30px 30px 0;
}
@media (min-width: 576px) {
  .crafted p {
    padding: 20px 80px 20px 0;
  }
}
.crafted img {
  width: 500px;
}

.crafted__buttons {
  padding: 20px 0;
}
.crafted__buttons button {
  border-radius: 30px;
  padding: 12px;
  text-transform: uppercase;
  border: 2px solid white;
  font-weight: 700;
}
.crafted__buttons .crafted__get-started {
  background-color: white;
  color: #0267f4;
  margin-right: 5px;
}
@media (min-width: 576px) {
  .crafted__buttons .crafted__get-started {
    margin-right: 15px;
  }
}
.crafted__buttons .crafted__download {
  background-color: inherit;
  color: white;
}

@media only screen and (max-width: 576px) {
  .navbar-crafted {
    width: 90%;
    margin: auto;
  }

  .navbar a,
.navbar button,
.crafted h1:nth-of-type(1),
.crafted img,
.crafted__arrow {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .navbar-crafted {
    width: 70%;
    margin: auto;
  }

  .navbar .lni-menu,
.crafted h1:nth-of-type(2) {
    display: none;
  }
}
.clients {
  background-color: #f2f6f7;
  text-align: left;
  padding: 0 15px;
}
.clients h3 {
  color: #0267f4;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.9rem;
}
.clients .lni {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.2);
}

body {
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
