a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "LineIcons";
  src: url("/assets/fonts/LineIcons.eot") format("eot");
  src: url("/assets/fonts/LineIcons.ttf") format("ttf"), url("/assets/fonts/LineIcons.woff") format("woff"), url("/assets/fonts/LineIcons.woff2") format("woff2"), url("/assets/fonts/LineIcons.svg") format("svg");
  font-style: normal;
}
@media only screen and (min-width: 576px) {
  .container {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #0267f4;
  display: flex;
  align-items: center;
}
header .crafted__arrow {
  color: white;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.5rem;
}
header .crafted__left-arrow {
  margin-left: 40px;
}
header .crafted__right-arrow {
  margin-right: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.navbar ul {
  list-style-type: none;
  display: flex;
}
.navbar .lni-menu {
  font-size: 1.5rem;
  color: white;
}
.navbar img {
  width: 60px;
}
.navbar button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-weight: 700;
}
.navbar button a {
  color: #0267f4;
  text-transform: uppercase;
  font-size: 0.8rem;
}
.navbar .navbar__links {
  display: flex;
}
.navbar .navbar__links li a {
  padding: 0 15px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
}

.crafted {
  color: white;
  padding: 80px 0;
  display: flex;
  align-items: center;
}
@media (min-width: 576px) {
  .crafted {
    padding: 40px 0 10px 0;
  }
}
.crafted h1:nth-of-type(1) {
  font-size: 4rem;
}
.crafted h1:nth-of-type(2) {
  font-size: 2rem;
  padding: 0 80px 30px 0;
}
.crafted p {
  padding: 0 30px 30px 0;
}
@media (min-width: 576px) {
  .crafted p {
    padding: 20px 80px 20px 0;
  }
}
.crafted img {
  width: 500px;
}

.crafted__buttons {
  padding: 20px 0;
}
.crafted__buttons button {
  border-radius: 30px;
  padding: 12px;
  text-transform: uppercase;
  border: 2px solid white;
  font-weight: 700;
}
.crafted__buttons .crafted__get-started {
  background-color: white;
  color: #0267f4;
  margin-right: 5px;
}
@media (min-width: 576px) {
  .crafted__buttons .crafted__get-started {
    margin-right: 15px;
  }
}
.crafted__buttons .crafted__download {
  background-color: inherit;
  color: white;
}

@media only screen and (max-width: 576px) {
  .navbar-crafted {
    width: 90%;
    margin: auto;
  }

  .navbar a,
.navbar button,
.crafted h1:nth-of-type(1),
.crafted img,
.crafted__arrow {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .navbar-crafted {
    width: 70%;
    margin: auto;
  }

  .navbar .lni-menu,
.crafted h1:nth-of-type(2) {
    display: none;
  }
}
.pricing {
  text-align: center;
  background-color: #f2f6f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}
.pricing .pricing__intro {
  padding: 0 20px 60px 20px;
}
@media (min-width: 576px) {
  .pricing .pricing__intro {
    padding: 0 440px 60px 440px;
  }
}
.pricing .pricing__intro h1 {
  font-size: 2rem;
}
.pricing .pricing__intro p {
  padding-top: 20px;
}

.pricing__cards {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 576px) {
  .pricing__cards {
    flex-direction: row;
    justify-content: center;
  }
}
.pricing__cards .pricing__card {
  margin-top: 30px;
  padding: 40px 0;
  border-radius: 5px;
  background: #2cd7dd;
  background: linear-gradient(180deg, #2cd7dd 0%, #0368f4 100%);
}
@media (min-width: 576px) {
  .pricing__cards .pricing__card {
    margin: 0 12px;
    width: 25%;
  }
}
.pricing__cards .pricing__card .pricing__card-info {
  text-align: left;
  font-size: 0.7rem;
}
.pricing__cards .pricing__card .pricing__card-info p {
  padding: 15px 40px 0 40px;
}
.pricing__cards .pricing__card p span {
  font-size: 2rem;
}
.pricing__cards img {
  width: 200px;
}
.pricing__cards button {
  margin-top: 30px;
  border-radius: 30px;
  padding: 12px;
  text-transform: uppercase;
  border: 2px solid white;
  font-weight: 700;
  background-color: white;
  color: #0267f4;
  margin-right: 5px;
}

body {
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
